workflow/hr-resume-screening-email-assistant.json
{
  "name": "HR Resume Screening — Email Assistant",
  "nodes": [
    {
      "id": "f5000001-0000-0000-0000-000000000001",
      "name": "Email Assistant Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "hr-screening-email-assistant",
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-screening/email-assistant",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "f5000001-0000-0000-0000-000000000002",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst body = (item.json && item.json.body) || item.json || {};\n\nconst candidateName = (body.candidateName || '').toString().trim();\nconst candidateEmail = (body.candidateEmail || '').toString().trim();\nconst jobTitle = (body.jobTitle || '').toString().trim();\nconst jobDescription = (body.jobDescription || '').toString().trim();\nconst score = body.score;\nconst classification = (body.classification || '').toString().trim();\nconst summary = (body.summary || '').toString().trim();\nconst strengths = (body.strengths || '').toString().trim();\nconst gaps = (body.gaps || '').toString().trim();\nconst recommendation = (body.recommendation || '').toString().trim();\nconst currentSubject = (body.currentSubject || '').toString();\nconst currentBody = (body.currentBody || '').toString();\nconst userMessage = (body.userMessage || '').toString().trim();\n\nlet chatHistory = [];\ntry {\n  const parsed = JSON.parse(body.chatHistory || '[]');\n  if (Array.isArray(parsed)) chatHistory = parsed;\n} catch (e) {\n  chatHistory = [];\n}\n\nconst errors = [];\nif (!candidateEmail) errors.push('Missing candidateEmail');\nif (!userMessage) errors.push('Missing userMessage');\n\nreturn [{\n  json: {\n    isValid: errors.length === 0,\n    validationError: errors.join('; '),\n    candidateName,\n    candidateEmail,\n    jobTitle,\n    jobDescription,\n    score,\n    classification,\n    summary,\n    strengths,\n    gaps,\n    recommendation,\n    currentSubject,\n    currentBody,\n    userMessage,\n    chatHistory\n  }\n}];"
      }
    },
    {
      "id": "f5000001-0000-0000-0000-000000000003",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "f5000001-0000-0000-0000-000000000004",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [660, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: $json.validationError } }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "f5000001-0000-0000-0000-000000000005",
      "name": "Prepare Email Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -60],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json;\n\nconst historyText = (item.chatHistory || [])\n  .map((m) => `${m.role === 'user' ? 'HR' : 'Assistant'}: ${(m.text || '').toString()}`)\n  .join('\\n');\n\nconst prompt = `CANDIDATE REPORT\nName: ${item.candidateName || 'Unknown'}\nEmail: ${item.candidateEmail}\nOverall Score: ${item.score != null ? item.score : 'N/A'}/100\nFit: ${item.classification || 'Not specified'}\nSummary: ${item.summary || 'Not specified'}\nStrengths: ${item.strengths || 'Not specified'}\nGaps: ${item.gaps || 'Not specified'}\nRecommendation: ${item.recommendation || 'Not specified'}\n\nJOB CONTEXT\nTitle: ${item.jobTitle || 'Not specified'}\nDescription: ${item.jobDescription || 'Not specified'}\n\nCURRENT DRAFT\nSubject: ${item.currentSubject || '(empty)'}\nBody: ${item.currentBody || '(empty)'}\n\nCONVERSATION SO FAR\n${historyText || '(none yet)'}\n\nLATEST HR INSTRUCTION\n${item.userMessage}`;\n\nreturn [{\n  json: {\n    candidateEmail: item.candidateEmail,\n    prompt\n  }\n}];"
      }
    },
    {
      "id": "f5000001-0000-0000-0000-000000000006",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [880, -220],
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "options": { "temperature": 0.4 }
      },
      "credentials": {
        "openAiApi": { "id": "REPLACE_WITH_YOUR_OPENAI_CRED_ID", "name": "OpenAI account" }
      }
    },
    {
      "id": "f5000001-0000-0000-0000-000000000007",
      "name": "Draft Email",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [880, -60],
      "parameters": {
        "text": "={{ $json.prompt }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": { \"type\": \"string\", \"description\": \"Email subject line\" },\n    \"body\": { \"type\": \"string\", \"description\": \"Full email body text, professional tone, ready to send as-is\" },\n    \"assistantReply\": { \"type\": \"string\", \"description\": \"1-2 sentence note to show HR in the chat, describing what was written or changed\" }\n  },\n  \"required\": [\"subject\", \"body\", \"assistantReply\"]\n}",
        "options": {
          "systemPromptTemplate": "You are an HR communications assistant helping write a personalized email to a specific job candidate. You're given the candidate's screening report, the job context, the current draft (if any), the conversation so far, and the HR's latest instruction. Follow the latest instruction precisely — whether it asks for a new email (e.g. interview invite, rejection, request for more info) or a revision to the current draft (e.g. make it more formal, shorten it, fix something specific). If revising, preserve the existing subject/body except for what the instruction asks to change. Ground the email in facts from the candidate report and job context — never invent details that aren't there. Keep the tone professional and appropriate for direct candidate communication. Always return a complete, ready-to-send subject and body, even for a small tweak request."
        }
      }
    },
    {
      "id": "f5000001-0000-0000-0000-000000000008",
      "name": "Respond Draft",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1100, -60],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { subject: ($json.output || $json).subject, body: ($json.output || $json).body, assistantReply: ($json.output || $json).assistantReply } }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "f5000001-0000-0000-0000-000000000099",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, -260],
      "parameters": {
        "content": "## RESUMEIQ — EMAIL ASSISTANT WORKFLOW\n\nHelps HR draft or edit a candidate email by chatting with it — the assistant sees the candidate's full screening report plus the job context, so it can write something grounded in real evidence instead of generic filler. This workflow only ever returns a draft; it never sends anything. Sending is a completely separate workflow (`hr-resume-screening-send-email.json`) that only fires when HR clicks Send in the frontend.\n\n**SETUP CHECKLIST**\n1. Set up an OpenAI API credential, replace `REPLACE_WITH_YOUR_OPENAI_CRED_ID`\n2. Activate the workflow, copy the webhook's production URL into `NEXT_PUBLIC_N8N_EMAIL_ASSISTANT_WEBHOOK_URL`",
        "height": 240,
        "width": 480,
        "color": 4
      }
    }
  ],
  "connections": {
    "Email Assistant Webhook": {
      "main": [
        [{ "node": "Validate Payload", "type": "main", "index": 0 }]
      ]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Is Valid?", "type": "main", "index": 0 }]
      ]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "Prepare Email Prompt", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Email Prompt": {
      "main": [
        [{ "node": "Draft Email", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [{ "node": "Draft Email", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Draft Email": {
      "main": [
        [{ "node": "Respond Draft", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "hr-resume-screening-email-assistant-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "resumeiq-hr-resume-screening"
  },
  "tags": [
    {
      "name": "resumeiq",
      "createdAt": "2026-07-02T00:00:00.000Z",
      "updatedAt": "2026-07-02T00:00:00.000Z"
    }
  ]
}
