workflow/hr-resume-screening-submit.json
{
  "name": "HR Resume Screening — Submit",
  "nodes": [
    {
      "id": "b1000001-0000-0000-0000-000000000001",
      "name": "Submit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hr-screening-submit",
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-screening/submit",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000002",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst body = item.json || {};\nconst binary = item.binary || {};\n\nconst batchId = (body.batchId || '').toString().trim();\nconst jobTitle = (body.jobTitle || '').toString().trim();\nconst jobDescription = (body.jobDescription || '').toString().trim();\nconst mustHaveSkills = (body.mustHaveSkills || '').toString().trim();\nconst niceToHaveSkills = (body.niceToHaveSkills || '').toString().trim();\n\nconst fileKeys = Object.keys(binary).filter((k) => k.toLowerCase().startsWith('files'));\nconst totalFiles = fileKeys.length;\n\nconst errors = [];\nif (!batchId) errors.push('Missing batchId');\nif (!jobDescription) errors.push('Missing jobDescription');\nif (totalFiles === 0) errors.push('No resume files uploaded');\n\nconst nonPdf = fileKeys.filter((k) => {\n  const mime = (binary[k].mimeType || '').toLowerCase();\n  return mime !== 'application/pdf';\n});\nif (nonPdf.length > 0) errors.push('Only PDF resumes are supported (' + nonPdf.length + ' non-PDF file(s) rejected)');\n\nreturn [{\n  json: {\n    isValid: errors.length === 0,\n    validationError: errors.join('; '),\n    batchId,\n    jobTitle,\n    jobDescription,\n    mustHaveSkills,\n    niceToHaveSkills,\n    totalFiles\n  },\n  binary\n}];"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000003",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000004",
      "name": "Respond Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [660, -140],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { batchId: $json.batchId, totalFiles: $json.totalFiles, status: \"queued\" } }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000005",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [660, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: $json.validationError } }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000006",
      "name": "Split Resume Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 40],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const binary = item.binary || {};\n  const fileKeys = Object.keys(binary).filter((k) => k.toLowerCase().startsWith('files'));\n\n  for (const key of fileKeys) {\n    const bin = binary[key];\n    results.push({\n      json: {\n        batchId: item.json.batchId,\n        jobTitle: item.json.jobTitle,\n        jobDescription: item.json.jobDescription,\n        mustHaveSkills: item.json.mustHaveSkills,\n        niceToHaveSkills: item.json.niceToHaveSkills,\n        totalFiles: item.json.totalFiles,\n        fileName: bin.fileName || key\n      },\n      binary: { data: bin }\n    });\n  }\n}\n\nreturn results;"
      }
    }
  ],
  "connections": {
    "Submit Webhook": {
      "main": [
        [{ "node": "Validate Payload", "type": "main", "index": 0 }]
      ]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Is Valid?", "type": "main", "index": 0 }]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          { "node": "Respond Ack", "type": "main", "index": 0 },
          { "node": "Split Resume Files", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "hr-resume-screening-submit-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "resumeiq-hr-resume-screening"
  },
  "tags": [
    {
      "name": "resumeiq",
      "createdAt": "2026-07-02T00:00:00.000Z",
      "updatedAt": "2026-07-02T00:00:00.000Z"
    }
  ]
}
