workflow/hr-resume-screening-submit.json
{
  "name": "HR Resume Screening — Submit",
  "nodes": [
    {
      "id": "b1000001-0000-0000-0000-000000000001",
      "name": "Submit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hr-screening-submit",
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-screening/submit",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000002",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst body = item.json || {};\nconst binary = item.binary || {};\n\nconst batchId = (body.batchId || '').toString().trim();\nconst jobTitle = (body.jobTitle || '').toString().trim();\nconst jobDescription = (body.jobDescription || '').toString().trim();\nconst mustHaveSkills = (body.mustHaveSkills || '').toString().trim();\nconst niceToHaveSkills = (body.niceToHaveSkills || '').toString().trim();\n\nconst fileKeys = Object.keys(binary).filter((k) => k.toLowerCase().startsWith('files'));\nconst totalFiles = fileKeys.length;\n\nconst errors = [];\nif (!batchId) errors.push('Missing batchId');\nif (!jobDescription) errors.push('Missing jobDescription');\nif (totalFiles === 0) errors.push('No resume files uploaded');\n\nconst nonPdf = fileKeys.filter((k) => {\n  const mime = (binary[k].mimeType || '').toLowerCase();\n  return mime !== 'application/pdf';\n});\nif (nonPdf.length > 0) errors.push('Only PDF resumes are supported (' + nonPdf.length + ' non-PDF file(s) rejected)');\n\nreturn [{\n  json: {\n    isValid: errors.length === 0,\n    validationError: errors.join('; '),\n    batchId,\n    jobTitle,\n    jobDescription,\n    mustHaveSkills,\n    niceToHaveSkills,\n    totalFiles\n  },\n  binary\n}];"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000003",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000004",
      "name": "Respond Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [660, -140],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { batchId: $json.batchId, totalFiles: $json.totalFiles, status: \"queued\" } }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000005",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [660, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: $json.validationError } }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000006",
      "name": "Split Resume Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 40],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const binary = item.binary || {};\n  const fileKeys = Object.keys(binary).filter((k) => k.toLowerCase().startsWith('files'));\n\n  for (const key of fileKeys) {\n    const bin = binary[key];\n    results.push({\n      json: {\n        batchId: item.json.batchId,\n        jobTitle: item.json.jobTitle,\n        jobDescription: item.json.jobDescription,\n        mustHaveSkills: item.json.mustHaveSkills,\n        niceToHaveSkills: item.json.niceToHaveSkills,\n        totalFiles: item.json.totalFiles,\n        fileName: bin.fileName || key\n      },\n      binary: { data: bin }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000007",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [880, 40],
      "onError": "continueErrorOutput",
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000008",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -60],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-text",
              "leftValue": "={{ ($json.text || '').trim().length }}",
              "rightValue": 20,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000009",
      "name": "Prepare Error Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 220],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n's continueErrorOutput items don't reliably carry a `text` field, so its\n// absence (vs. present-but-short) is how we tell \"extraction failed\" apart from\n// \"extracted fine but the PDF had no real text (e.g. a scanned image)\".\nconst source = $('Split Resume Files').item.json;\nconst hasTextField = Object.prototype.hasOwnProperty.call($json, 'text');\n\nlet errorMessage;\nif (!hasTextField) {\n  errorMessage = 'PDF extraction failed' + ($json.error && $json.error.message ? ': ' + $json.error.message : '');\n} else {\n  errorMessage = 'No extractable text found (resume may be a scanned image PDF)';\n}\n\nreturn {\n  json: {\n    batchId: source.batchId,\n    fileName: source.fileName,\n    errorMessage,\n    occurredAt: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000010",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1320, -280],
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "options": { "temperature": 0.1 }
      },
      "credentials": {
        "openAiApi": { "id": "REPLACE_WITH_YOUR_OPENAI_CRED_ID", "name": "OpenAI account" }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000011",
      "name": "Extract Candidate Profile",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [1320, -60],
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidateName\": { \"type\": \"string\", \"description\": \"Full name of the candidate\" },\n    \"email\": { \"type\": \"string\", \"description\": \"Email address\" },\n    \"phone\": { \"type\": \"string\", \"description\": \"Phone number\" },\n    \"yearsExperience\": { \"type\": \"number\", \"description\": \"Total years of professional experience, estimated from work history\" },\n    \"skills\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Technical and professional skills\" },\n    \"education\": { \"type\": \"string\", \"description\": \"Highest degree and institution\" },\n    \"certifications\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Professional certifications\" },\n    \"summary\": { \"type\": \"string\", \"description\": \"2-3 sentence professional summary of the candidate\" }\n  },\n  \"required\": [\"candidateName\", \"email\"]\n}",
        "options": {
          "systemPromptTemplate": "You are an expert technical recruiter extracting structured data from a resume. Extract only information explicitly present in the text — never guess or invent values. If a field is not present, use an empty string (or empty array for list fields)."
        }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000012",
      "name": "Prepare Scoring Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -60],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const meta = $('Split Resume Files').item.json;\nconst profile = $json.output || $json;\n\nconst rubric = `Score this candidate for the role below using this weighted rubric (integers, must sum to the max for each category):\n- Skills Match (0-30): overlap between candidate skills and must-have/nice-to-have skills\n- Experience Relevance (0-25): relevance and seniority of past roles vs this job\n- Achievements & Impact (0-20): concrete, measurable accomplishments\n- Education & Certifications (0-10): relevance of degrees/certifications\n- Resume Clarity (0-15): how clearly the resume communicates the above\n\nOverall score = sum of the five category scores (0-100).`;\n\nconst scoringText = `JOB TITLE: ${meta.jobTitle || 'Not specified'}\nJOB DESCRIPTION:\n${meta.jobDescription}\n\nMUST-HAVE SKILLS: ${meta.mustHaveSkills || 'Not specified'}\nNICE-TO-HAVE SKILLS: ${meta.niceToHaveSkills || 'Not specified'}\n\n${rubric}\n\nCANDIDATE PROFILE (already extracted from resume):\n${JSON.stringify(profile)}`;\n\nreturn {\n  json: {\n    ...meta,\n    profile,\n    scoringText\n  }\n};"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000013",
      "name": "Score Candidate",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [1760, -60],
      "parameters": {
        "text": "={{ $json.scoringText }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"skillMatchScore\": { \"type\": \"number\", \"description\": \"0-30\" },\n    \"experienceScore\": { \"type\": \"number\", \"description\": \"0-25\" },\n    \"achievementScore\": { \"type\": \"number\", \"description\": \"0-20\" },\n    \"educationScore\": { \"type\": \"number\", \"description\": \"0-10\" },\n    \"clarityScore\": { \"type\": \"number\", \"description\": \"0-15\" },\n    \"score\": { \"type\": \"number\", \"description\": \"overall 0-100, sum of the category scores\" },\n    \"classification\": { \"type\": \"string\", \"enum\": [\"Strong Fit\", \"Fit\", \"Weak Fit\", \"Not Fit\"] },\n    \"strengths\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"gaps\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n    \"recommendation\": { \"type\": \"string\", \"description\": \"1-2 sentence recommendation on next steps\" }\n  },\n  \"required\": [\"score\", \"classification\"]\n}",
        "options": {
          "systemPromptTemplate": "You are a senior hiring manager scoring a candidate against a specific job. Be objective, evidence-based, and consistent. Base every score strictly on the candidate profile and job details provided — do not assume information that isn't there."
        }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000014",
      "name": "Assemble Candidate Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -60],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const meta = $('Split Resume Files').item.json;\nconst profile = $('Extract Candidate Profile').item.json.output || $('Extract Candidate Profile').item.json;\nconst score = $json.output || $json;\n\nreturn {\n  json: {\n    batchId: meta.batchId,\n    fileName: meta.fileName,\n    candidateName: profile.candidateName || '',\n    email: profile.email || '',\n    phone: profile.phone || '',\n    yearsExperience: profile.yearsExperience || '',\n    skills: Array.isArray(profile.skills) ? profile.skills.join(', ') : (profile.skills || ''),\n    education: profile.education || '',\n    certifications: Array.isArray(profile.certifications) ? profile.certifications.join(', ') : (profile.certifications || ''),\n    summary: profile.summary || '',\n    score: score.score || 0,\n    classification: score.classification || '',\n    skillMatchScore: score.skillMatchScore || 0,\n    experienceScore: score.experienceScore || 0,\n    achievementScore: score.achievementScore || 0,\n    educationScore: score.educationScore || 0,\n    clarityScore: score.clarityScore || 0,\n    strengths: Array.isArray(score.strengths) ? score.strengths.join('; ') : (score.strengths || ''),\n    gaps: Array.isArray(score.gaps) ? score.gaps.join('; ') : (score.gaps || ''),\n    recommendation: score.recommendation || '',\n    processedAt: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000015",
      "name": "Save Candidate to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, -60],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Candidates", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "batchId": "={{ $json.batchId }}",
            "fileName": "={{ $json.fileName }}",
            "candidateName": "={{ $json.candidateName }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "yearsExperience": "={{ $json.yearsExperience }}",
            "skills": "={{ $json.skills }}",
            "education": "={{ $json.education }}",
            "certifications": "={{ $json.certifications }}",
            "summary": "={{ $json.summary }}",
            "score": "={{ $json.score }}",
            "classification": "={{ $json.classification }}",
            "skillMatchScore": "={{ $json.skillMatchScore }}",
            "experienceScore": "={{ $json.experienceScore }}",
            "achievementScore": "={{ $json.achievementScore }}",
            "educationScore": "={{ $json.educationScore }}",
            "clarityScore": "={{ $json.clarityScore }}",
            "strengths": "={{ $json.strengths }}",
            "gaps": "={{ $json.gaps }}",
            "recommendation": "={{ $json.recommendation }}",
            "processedAt": "={{ $json.processedAt }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_GOOGLE_CRED_ID", "name": "Google Sheets account" }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000016",
      "name": "Log Error to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1320, 220],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Errors", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "batchId": "={{ $json.batchId }}",
            "fileName": "={{ $json.fileName }}",
            "errorMessage": "={{ $json.errorMessage }}",
            "occurredAt": "={{ $json.occurredAt }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_GOOGLE_CRED_ID", "name": "Google Sheets account" }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000017",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-20, -420],
      "parameters": {
        "content": "## RESUMEIQ — SUBMIT WORKFLOW\n\nReceives a batch of resumes + a job description from the frontend, screens each resume with a two-stage OpenAI pipeline, and writes ranked results to Google Sheets.\n\n**SETUP CHECKLIST**\n1. Create a Google Sheet with tabs `Candidates` and `Errors` (see docs/SETUP_GUIDE.md for exact columns)\n2. Replace `REPLACE_WITH_YOUR_GOOGLE_SHEET_ID` in both Google Sheets nodes\n3. Set up credentials: OpenAI API, Google Sheets OAuth2 — replace the `REPLACE_WITH_YOUR_*_CRED_ID` placeholders\n4. Activate the workflow, copy the webhook's production URL into the frontend's `NEXT_PUBLIC_N8N_SUBMIT_WEBHOOK_URL`\n\nPDF only — DOCX resumes are rejected client-side. One bad resume never blocks the rest of the batch (see the error branches below).",
        "height": 300,
        "width": 480,
        "color": 4
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000018",
      "name": "Sticky Note - Intake",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 320],
      "parameters": {
        "content": "## INTAKE & VALIDATION\n\nWebhook responds immediately (batchId + totalFiles) so the frontend never blocks on the AI pipeline. Invalid batches (no job description, no files, non-PDF uploads) are rejected with a 400 before any AI spend happens.",
        "height": 180,
        "width": 640,
        "color": 5
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000019",
      "name": "Sticky Note - AI Pipeline",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1280, -460],
      "parameters": {
        "content": "## TWO-STAGE AI SCREENING\n\nStage 1 extracts a structured candidate profile from resume text. Stage 2 scores that profile against the job description using a weighted rubric (Skills 30 / Experience 25 / Achievements 20 / Education 10 / Clarity 15). Keeping extraction and scoring as separate prompts keeps each one focused and more accurate than one combined mega-prompt.",
        "height": 160,
        "width": 700,
        "color": 6
      }
    }
  ],
  "connections": {
    "Submit Webhook": {
      "main": [
        [{ "node": "Validate Payload", "type": "main", "index": 0 }]
      ]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Is Valid?", "type": "main", "index": 0 }]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          { "node": "Respond Ack", "type": "main", "index": 0 },
          { "node": "Split Resume Files", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Split Resume Files": {
      "main": [
        [{ "node": "Extract PDF Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [{ "node": "Has Text?", "type": "main", "index": 0 }],
        [{ "node": "Prepare Error Log", "type": "main", "index": 0 }]
      ]
    },
    "Has Text?": {
      "main": [
        [{ "node": "Extract Candidate Profile", "type": "main", "index": 0 }],
        [{ "node": "Prepare Error Log", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          { "node": "Extract Candidate Profile", "type": "ai_languageModel", "index": 0 },
          { "node": "Score Candidate", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Extract Candidate Profile": {
      "main": [
        [{ "node": "Prepare Scoring Input", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Scoring Input": {
      "main": [
        [{ "node": "Score Candidate", "type": "main", "index": 0 }]
      ]
    },
    "Score Candidate": {
      "main": [
        [{ "node": "Assemble Candidate Row", "type": "main", "index": 0 }]
      ]
    },
    "Assemble Candidate Row": {
      "main": [
        [{ "node": "Save Candidate to Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Error Log": {
      "main": [
        [{ "node": "Log Error to Sheet", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "hr-resume-screening-submit-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "resumeiq-hr-resume-screening"
  },
  "tags": [
    {
      "name": "resumeiq",
      "createdAt": "2026-07-02T00:00:00.000Z",
      "updatedAt": "2026-07-02T00:00:00.000Z"
    }
  ]
}
