workflow/hr-resume-screening-inbox-ingest.json
{
  "name": "HR Resume Screening — Inbox Ingest",
  "nodes": [
    {
      "id": "d3000001-0000-0000-0000-000000000001",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "both"
        },
        "options": {
          "downloadAttachments": true,
          "dataPropertyAttachmentsPrefixName": "attachment_"
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "d3000001-0000-0000-0000-000000000002",
      "name": "Filter PDF Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfunction getHeaderValue(headers, name) {\n  if (!Array.isArray(headers)) return '';\n  const match = headers.find((h) => (h.name || '').toLowerCase() === name.toLowerCase());\n  return match ? (match.value || '') : '';\n}\n\n// Some n8n Gmail node versions parse From/Subject/Date into objects\n// (e.g. { text, html, value: [{ name, address }] }) instead of plain\n// strings — normalize whatever shape shows up into a plain string.\nfunction toText(value) {\n  if (typeof value === 'string') return value;\n  if (value && typeof value === 'object') {\n    if (typeof value.text === 'string') return value.text;\n    if (Array.isArray(value.value) && value.value[0]) {\n      const v = value.value[0];\n      return ((v.name ? v.name + ' ' : '') + (v.address ? '<' + v.address + '>' : '')).trim();\n    }\n  }\n  return '';\n}\n\nfunction parseSender(rawValue) {\n  const raw = (typeof rawValue === 'string' ? rawValue : String(rawValue || '')).trim();\n  const m = raw.match(/^(.*?)<(.+?)>$/);\n  if (m) {\n    return { name: m[1].trim().replace(/^\"|\"$/g, ''), email: m[2].trim() };\n  }\n  return { name: '', email: raw };\n}\n\nfunction isPdfAttachment(bin) {\n  const mime = (bin.mimeType || '').toLowerCase();\n  const name = (bin.fileName || '').toLowerCase();\n  return mime === 'application/pdf' || name.endsWith('.pdf');\n}\n\nfor (const item of items) {\n  const data = item.json || {};\n  const headers = data.payload && data.payload.headers;\n\n  const fromRaw = toText(data.From) || toText(data.from) || getHeaderValue(headers, 'From') || '';\n  const subject = toText(data.Subject) || toText(data.subject) || getHeaderValue(headers, 'Subject') || '(no subject)';\n  const dateRaw = toText(data.Date) || toText(data.date) || getHeaderValue(headers, 'Date') || '';\n  const { name: senderName, email: senderEmail } = parseSender(fromRaw);\n\n  let receivedAt;\n  if (dateRaw) {\n    const parsed = new Date(dateRaw);\n    receivedAt = isNaN(parsed.getTime()) ? new Date().toISOString() : parsed.toISOString();\n  } else if (data.internalDate) {\n    receivedAt = new Date(Number(data.internalDate)).toISOString();\n  } else {\n    receivedAt = new Date().toISOString();\n  }\n\n  // Don't assume a specific binary key naming convention (e.g. \"attachment_0\")\n  // — scan every binary key on the item and identify PDFs by MIME type or\n  // filename instead. Gmail Trigger items only carry actual email attachments\n  // in `binary`, so there's nothing else these keys could be.\n  const binary = item.binary || {};\n\n  for (const key of Object.keys(binary)) {\n    const bin = binary[key];\n    if (!isPdfAttachment(bin)) continue;\n\n    results.push({\n      json: {\n        fileName: bin.fileName || 'resume.pdf',\n        senderEmail,\n        senderName,\n        subject,\n        receivedAt\n      },\n      binary: { data: bin }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "d3000001-0000-0000-0000-000000000003",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "inputDataFieldName": "data",
        "folderId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_INBOX_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CRED_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "d3000001-0000-0000-0000-000000000004",
      "name": "Prepare Inbox Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Filter PDF Attachments').item.json;\nconst uploaded = $json;\n\nreturn {\n  json: {\n    id: uploaded.id,\n    fileName: source.fileName,\n    senderEmail: source.senderEmail,\n    senderName: source.senderName,\n    subject: source.subject,\n    receivedAt: source.receivedAt,\n    driveFileId: uploaded.id\n  }\n};"
      }
    },
    {
      "id": "d3000001-0000-0000-0000-000000000005",
      "name": "Save Inbox Resume to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "InboxResumes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fileName": "={{ $json.fileName }}",
            "senderEmail": "={{ $json.senderEmail }}",
            "senderName": "={{ $json.senderName }}",
            "subject": "={{ $json.subject }}",
            "receivedAt": "={{ $json.receivedAt }}",
            "driveFileId": "={{ $json.driveFileId }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "fileName",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "fileName",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "senderEmail",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "senderEmail",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "senderName",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "senderName",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "subject",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "receivedAt",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "receivedAt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "driveFileId",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "driveFileId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "d3000001-0000-0000-0000-000000000099",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        -300
      ],
      "parameters": {
        "content": "## RESUMEIQ — INBOX INGEST WORKFLOW\n\nPolls HR's Gmail inbox for new emails, uploads any PDF attachments to Google Drive, and logs each to the `InboxResumes` sheet tab so it shows up as a selectable resume in the ResumeIQ frontend.\n\n**HOW FILTERING WORKS:** The Gmail Trigger deliberately has NO search query — it catches every new email, then the `Filter PDF Attachments` code node keeps only PDF attachments (by MIME type / .pdf filename). Filtering in code rather than via a Gmail `q:` query avoids the Gmail API's flaky `filename:` search operator, which can silently drop matching emails.\n\n**SETUP CHECKLIST**\n1. Set up a Gmail OAuth2 credential, replace `REPLACE_WITH_YOUR_GMAIL_CRED_ID`\n2. On the Gmail Trigger node, make sure Options → **Download Attachments** is ON (otherwise the PDF binary is never fetched)\n3. Create (or reuse) a Google Drive folder to store inbox resumes in, replace `REPLACE_WITH_YOUR_INBOX_DRIVE_FOLDER_ID`\n4. Replace `REPLACE_WITH_YOUR_GOOGLE_SHEET_ID` and the Google Drive/Sheets credential placeholders\n5. Make sure the `InboxResumes` tab exists with the right headers (see docs/SETUP_GUIDE.md)\n6. Activate this workflow — emails without a PDF attachment are silently skipped, not errors",
        "height": 260,
        "width": 480,
        "color": 4
      }
    },
    {
      "id": "d3000001-0000-0000-0000-000000000098",
      "name": "Sticky Note - Storage",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        160
      ],
      "parameters": {
        "content": "## PDF → DRIVE → SHEET\n\nThe PDF binary is uploaded to Drive so the Submit workflow can download it later, on-demand, when HR actually selects this resume for a screening — the raw file isn't kept anywhere else. The sheet row is just a lightweight pointer (metadata + Drive file ID) that powers the selectable list in the frontend.",
        "height": 160,
        "width": 460,
        "color": 6
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter PDF Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDF Attachments": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Prepare Inbox Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Inbox Row": {
      "main": [
        [
          {
            "node": "Save Inbox Resume to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "hr-resume-screening-inbox-ingest-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "resumeiq-hr-resume-screening"
  },
  "tags": [
    {
      "name": "resumeiq",
      "createdAt": "2026-07-02T00:00:00.000Z",
      "updatedAt": "2026-07-02T00:00:00.000Z"
    }
  ]
}
