workflow/hr-resume-screening-submit.json
{
  "name": "HR Resume Screening — Submit",
  "nodes": [
    {
      "id": "b1000001-0000-0000-0000-000000000001",
      "name": "Submit Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "hr-screening-submit",
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-screening/submit",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000002",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst body = item.json || {};\nconst binary = item.binary || {};\n\nconst batchId = (body.batchId || '').toString().trim();\nconst jobTitle = (body.jobTitle || '').toString().trim();\nconst jobDescription = (body.jobDescription || '').toString().trim();\nconst mustHaveSkills = (body.mustHaveSkills || '').toString().trim();\nconst niceToHaveSkills = (body.niceToHaveSkills || '').toString().trim();\n\nconst fileKeys = Object.keys(binary).filter((k) => k.toLowerCase().startsWith('files'));\nconst totalFiles = fileKeys.length;\n\nconst errors = [];\nif (!batchId) errors.push('Missing batchId');\nif (!jobDescription) errors.push('Missing jobDescription');\nif (totalFiles === 0) errors.push('No resume files uploaded');\n\nconst nonPdf = fileKeys.filter((k) => {\n  const mime = (binary[k].mimeType || '').toLowerCase();\n  return mime !== 'application/pdf';\n});\nif (nonPdf.length > 0) errors.push('Only PDF resumes are supported (' + nonPdf.length + ' non-PDF file(s) rejected)');\n\nreturn [{\n  json: {\n    isValid: errors.length === 0,\n    validationError: errors.join('; '),\n    batchId,\n    jobTitle,\n    jobDescription,\n    mustHaveSkills,\n    niceToHaveSkills,\n    totalFiles\n  },\n  binary\n}];"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000003",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000004",
      "name": "Respond Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [660, -140],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { batchId: $json.batchId, totalFiles: $json.totalFiles, status: \"queued\" } }}",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000005",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [660, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { error: $json.validationError } }}",
        "options": { "responseCode": 400 }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000006",
      "name": "Split Resume Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 40],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const binary = item.binary || {};\n  const fileKeys = Object.keys(binary).filter((k) => k.toLowerCase().startsWith('files'));\n\n  for (const key of fileKeys) {\n    const bin = binary[key];\n    results.push({\n      json: {\n        batchId: item.json.batchId,\n        jobTitle: item.json.jobTitle,\n        jobDescription: item.json.jobDescription,\n        mustHaveSkills: item.json.mustHaveSkills,\n        niceToHaveSkills: item.json.niceToHaveSkills,\n        totalFiles: item.json.totalFiles,\n        fileName: bin.fileName || key\n      },\n      binary: { data: bin }\n    });\n  }\n}\n\nreturn results;"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000007",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [880, 40],
      "onError": "continueErrorOutput",
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000008",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -60],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-text",
              "leftValue": "={{ ($json.text || '').trim().length }}",
              "rightValue": 20,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000009",
      "name": "Prepare Error Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 220],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n's continueErrorOutput items don't reliably carry a `text` field, so its\n// absence (vs. present-but-short) is how we tell \"extraction failed\" apart from\n// \"extracted fine but the PDF had no real text (e.g. a scanned image)\".\nconst source = $('Split Resume Files').item.json;\nconst hasTextField = Object.prototype.hasOwnProperty.call($json, 'text');\n\nlet errorMessage;\nif (!hasTextField) {\n  errorMessage = 'PDF extraction failed' + ($json.error && $json.error.message ? ': ' + $json.error.message : '');\n} else {\n  errorMessage = 'No extractable text found (resume may be a scanned image PDF)';\n}\n\nreturn {\n  json: {\n    batchId: source.batchId,\n    fileName: source.fileName,\n    errorMessage,\n    occurredAt: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000010",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1320, -280],
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "options": { "temperature": 0.1 }
      },
      "credentials": {
        "openAiApi": { "id": "REPLACE_WITH_YOUR_OPENAI_CRED_ID", "name": "OpenAI account" }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000011",
      "name": "Extract Candidate Profile",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [1320, -60],
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidateName\": { \"type\": \"string\", \"description\": \"Full name of the candidate\" },\n    \"email\": { \"type\": \"string\", \"description\": \"Email address\" },\n    \"phone\": { \"type\": \"string\", \"description\": \"Phone number\" },\n    \"yearsExperience\": { \"type\": \"number\", \"description\": \"Total years of professional experience, estimated from work history\" },\n    \"skills\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Technical and professional skills\" },\n    \"education\": { \"type\": \"string\", \"description\": \"Highest degree and institution\" },\n    \"certifications\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"description\": \"Professional certifications\" },\n    \"summary\": { \"type\": \"string\", \"description\": \"2-3 sentence professional summary of the candidate\" }\n  },\n  \"required\": [\"candidateName\", \"email\"]\n}",
        "options": {
          "systemPromptTemplate": "You are an expert technical recruiter extracting structured data from a resume. Extract only information explicitly present in the text — never guess or invent values. If a field is not present, use an empty string (or empty array for list fields)."
        }
      }
    },
    {
      "id": "b1000001-0000-0000-0000-000000000012",
      "name": "Prepare Scoring Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -60],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const meta = $('Split Resume Files').item.json;\nconst profile = $json.output || $json;\n\nconst rubric = `Score this candidate for the role below using this weighted rubric (integers, must sum to the max for each category):\n- Skills Match (0-30): overlap between candidate skills and must-have/nice-to-have skills\n- Experience Relevance (0-25): relevance and seniority of past roles vs this job\n- Achievements & Impact (0-20): concrete, measurable accomplishments\n- Education & Certifications (0-10): relevance of degrees/certifications\n- Resume Clarity (0-15): how clearly the resume communicates the above\n\nOverall score = sum of the five category scores (0-100).`;\n\nconst scoringText = `JOB TITLE: ${meta.jobTitle || 'Not specified'}\nJOB DESCRIPTION:\n${meta.jobDescription}\n\nMUST-HAVE SKILLS: ${meta.mustHaveSkills || 'Not specified'}\nNICE-TO-HAVE SKILLS: ${meta.niceToHaveSkills || 'Not specified'}\n\n${rubric}\n\nCANDIDATE PROFILE (already extracted from resume):\n${JSON.stringify(profile)}`;\n\nreturn {\n  json: {\n    ...meta,\n    profile,\n    scoringText\n  }\n};"
      }
    }
  ],
  "connections": {
    "Submit Webhook": {
      "main": [
        [{ "node": "Validate Payload", "type": "main", "index": 0 }]
      ]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Is Valid?", "type": "main", "index": 0 }]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          { "node": "Respond Ack", "type": "main", "index": 0 },
          { "node": "Split Resume Files", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Split Resume Files": {
      "main": [
        [{ "node": "Extract PDF Text", "type": "main", "index": 0 }]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [{ "node": "Has Text?", "type": "main", "index": 0 }],
        [{ "node": "Prepare Error Log", "type": "main", "index": 0 }]
      ]
    },
    "Has Text?": {
      "main": [
        [{ "node": "Extract Candidate Profile", "type": "main", "index": 0 }],
        [{ "node": "Prepare Error Log", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [{ "node": "Extract Candidate Profile", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Extract Candidate Profile": {
      "main": [
        [{ "node": "Prepare Scoring Input", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "hr-resume-screening-submit-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "resumeiq-hr-resume-screening"
  },
  "tags": [
    {
      "name": "resumeiq",
      "createdAt": "2026-07-02T00:00:00.000Z",
      "updatedAt": "2026-07-02T00:00:00.000Z"
    }
  ]
}
